/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
  --organgeColor : #F5821F;
  --grey : #DDDDDD;
  --kirikBeyaz : #F9F9F9;
  --light-grey : #9E9E9E;
  --darkGrey : #9B9B9B;
  --purple : rgba(135, 129, 189, 0.80);
  --purpleDark : #8781BD;
  --yellow : #D6DF20;
  --font25 : 25px;
  --padding50 : 50px;
  --padding25 : 25px;
  --boxShadow : 3px 3px 5px rgba(0,0,0,0.3);
  --yellowRgba : rgba(214, 223, 32, 0.70);
  --max1440 : 1440px;
}
   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;

}
a {
  text-decoration: none;
}
p {
  margin:0;
  padding:0;
}
img {
  width: 100%;
  height: auto;
}
/*
  Custom Select
*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;

}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: var(--organgeColor);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--organgeColor);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.backGrey {
  background-color: var(--kirikBeyaz);

}
/* grid Sistemi */
.Col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: var(--max1440);
  margin:0 auto;

}
.w100 {
  flex-basis: 100%;
}
.w90 {
  flex-basis: 90%;
}
.w80 {
  flex-basis: 80%;
}
.w70 {
  flex-basis: 70%;
}

.w60{
  flex-basis: 60%;
}
.w50 {
  flex-basis: 50%;
}
.w40 {
  flex-basis: 40%;
}
.w30 {
  flex-basis: 30%;
}
.w20 {
  flex-basis: 20%;
}
.w10 {
  flex-basis: 10%;
}
.AsStrech {

  align-self: stretch;
}

.mobilBlock {
  display: none;
}
.mobilNone {
  display: block;
}








header {
  width: 100%;
  max-width: var(--max1440);
  margin:0 auto;

}
header .mobilMenu button {
  background-color: transparent;
  border:none;
  cursor: pointer;


}
/*mobilMenu Container*/
.mobilMenuContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--purpleDark);
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;



}
.mobilMenuContainer nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mobilMenuContainer .mobilKapat {
  color:#fff;
  width: 100%;
  text-align:center;

}
.mobilMenuContainer .mobilKapat span {
  border:0.5px solid #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
}
.mobilMenuContainer nav ul li {
  list-style-type: none;

}
.mobilMenuContainer nav ul li a {
  color:#fff;
  line-height: 2;
}
/*mobilMenu Container*/

header .mobilMenu button img {
  width: 22px;
}
/* top menu*/
header .topMenu {
  background-color: var(--organgeColor);
  display: flex;
  justify-content: space-between;
  padding:10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .topMenu .leftSide, header .topMenu .rightSide {
  width: 50%;
  display:flex;
}
header .topMenu .leftSide {
  justify-content: flex-start;
}


header .topMenu .rightSide {
  justify-content: flex-end;
}
header .topMenu .leftSide a {
  margin:0 10px;
  font-size: 16px;
  color:#fff;
  display: flex;
  align-items: center;

}
header .topMenu .leftSide a img {
  margin-right:5px;
  width: 18px;
}
header .topMenu .rightSide a {
  margin:0 3px;
}
header .mainMenu {
  margin:50px 0px;
}
header .mainMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .mainMenu .mainMenuLeft {
  flex-basis: 30%;
  padding: 2% 10% 2% 0;
}
header .mainMenu .mainMenuRight {
  flex-basis: 70%;
}
header .mainMenu .mainMenuRight .menuFirstrow {
  display: flex;
  justify-content: flex-end;

}
header .mainMenu .mainMenuRight .menuFirstrow .formbutton a {
border:1px solid var(--grey);
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
header .mainMenu .mainMenuRight .menuFirstrow .formbutton a img {
  max-width: 19px;
}
header .mainMenu .mainMenuRight .menuFirstrow .formContainer {
  margin-right: 20px;
  display: flex;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  transform: translate(0,0px);
  opacity: 0;

}
.openForm {
  height: 40px !important;
  transform: translate(0,-10px) !important;
  opacity: 1 !important;
}

header .mainMenu .mainMenuRight .menuFirstrow .formContainer input {
  padding:7px;
  border-radius: 5px;
  border:none;
  border:1px solid var(--grey);

}

header .mainMenu .mainMenuRight .menuFirstrow .formContainer .submit {
  border:1px solid var(--grey);
  background-color: transparent;
  margin: 0;
  line-height: 1.3;
  font-size: 14px;
  background-color: #000000;
  color:var(--grey);
}
header .mainMenu .mainMenuRight .menuSecondrow {
  padding: 20px 0px;

}
header .mainMenu .mainMenuRight .menuSecondrow ul {
  display: flex;
  justify-content: space-between;
}
header .mainMenu .mainMenuRight .menuSecondrow ul li {
 list-style-type: none;
  text-align: center;
}
header .mainMenu .mainMenuRight .menuSecondrow ul li a {
  color:var(--darkGrey);


}
header .mainMenu .mainMenuRight .menuSecondrow ul li:hover , .aktif {
  position: relative;

}
header .mainMenu .mainMenuRight .menuSecondrow ul li:hover::after , .aktif::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 30px;
  bottom:-10px;
  left:calc(100% / 2 - 10px);
  background-color: var(--organgeColor);


}
  /* slider*/
.sliderContainer {
  width: 100%;
  max-width: var(--max1440);
  margin:0 auto;
  border-radius: 20px;
}
.sliderContainer .sliderItem {
  position: relative;
}
.sliderContainer .sliderItem .sliderText{
  position: absolute;
  height: 185px;
  width: 100%;
  background-color: var(--purple);
  z-index: 999999;
  bottom:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 30px;
  color:#fff;

}
.sliderContainer .owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  margin: 5px 7px;
  background: var(--purple);
  display: block;
  -webkit-backface-visibility: visible;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 0.3s;
  transform: translate(0,0);

}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--purpleDark);
  height: 40px;
  transform: translate(0,20px);
}

  /* mdBlock */
.mpBlock {
  width: 100%;
  margin-top:100px;
  padding-bottom: 50px;
}
.mpBlock .mpHeader {
  display: flex;
  max-width:  var(--max1440);
  margin:0 auto;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  color: #ffffff;
  font-size:35px;
  font-weight: 400;
  margin-bottom:50px;
  position:relative;
}
.mpBlock .mpHeader h3 {
  margin-right: 20px;
  position: absolute;
  z-index: 2;
  top:-60px;
  font-weight: 300;
}
.mpBlock .mpHeader::after {
  content: "";
  position: absolute;
  left:-100%;
  top:0;
  display: block;
  width: 200%;
  height: 80px;
  border-radius: 20px;
  z-index: 1;
  top:-30px;

}
  /* header bg color */

.mpBlock .mpHeader.bgorange::after {
  content: "";
  background-color: var(--organgeColor);
}

.mpBlock .mpHeader.bgpurple::after {
  content: "";
  background-color: var(--purpleDark);
}
.mpBlock .mpHeader.bgyellow::after {
  content: "";
  background-color: var(--yellow);
}
.mpBlock iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 500px;
  margin:0;
  padding: 0;

}
.mpBlock .mpText {
  background-color: var(--organgeColor);
  padding:20px 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
.mpBlock .mpText p {
  margin:0;
  padding: 0;
  color:#fff;
  font-size: var(--font25);
  display: inline-flex;


}
.mpBlock .mpAboutText {
  height: 100%;
  padding: 0 10%;
  font-size: var(--font25);
  display: inline-flex;
  text-justify: newspaper;
  text-align: justify;
  color:var(--light-grey);
}

.mainBlog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.mainBlog .mainBlogSingle {
  max-width: 48%;
  border-radius: 20px;
  height: 500px;
  position: relative;
  margin-bottom: 4%;
}
.mainBlog .mainBlogSingle img {
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
  height: 500px;
}
.mainBlog .mainBlogSingleText {
  position: absolute;
  bottom:0;
  padding: 20px;
  color:#fff;
  height: 200px;
  background-color: var(--purple);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  font-size:18px;

}
.mainBlog .mainBlogSingleText span {
  width: 100%;
}
 .adContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
.adContainer .adSingle {
  margin-bottom: 4%;
  display: block;
  padding-left: 8%;
  height: 250px;
}
.adContainer .adSingle:nth-child(2) {
  margin-bottom: 7%;
}
.mpBlock .mpBlockButton {
  width: 100%;
  text-align: center;
}
.mpBlock .mpBlockButton a {
  color:var(--purpleDark);
}

.mpMagazineContainer {

  position: relative;
  overflow:hidden;
  position: relative;
  height: 400px;
  border-radius: 10px;



}

.mpMagazineContainer img.magazineImg {
  border-radius: 10px;
  width: 100%;
}

.mpMagazineText {
  color:#fff;
  background-color: var(--organgeColor);
  position: absolute;
  width: 100%;
  left:0;
  bottom:0;
  padding: 20px;
  text-align: center;

}


.mpMagazineText span {
  margin-bottom: 10px;
  display: block;
}


.padding50 {
  padding: var(--padding50);
  padding-left: 0px;
}

.padding50:first-child {
  padding-left: 0;
}

.padding50:last-child {
  padding-right: 0;
}

.mpMagazineText img {
  height: 61px;
}
.commenity {
  padding-top: 50px;

}
.commenity a {
  width: 100%;
  background-color: var(--organgeColor);
  color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding: 30px;
  border-radius: 5px;


}
.commenity a img {
  width: 100%;
  max-width: 98px;
  text-align: center;
}
.commenity a:nth-child(2) img {
   max-width: 56px;
  height: 60px;
 }
.commenity a:nth-child(3) img {
  max-width: 84px;

}
.commenity a:nth-child(3) {
  margin-bottom: 0;
}
.currentContainer {
  padding: 50px 0px;
}
.currentContainer .visitors{
  background-color: var(--purpleDark);
  color:#fff;
  padding: 50px;
  text-align: center;
  border-radius: 10px;

}
.currentContainer .visitors span {
  display: block;

}
.currentContainer .visitors span:nth-child(2) {
  font-size: 50px;
}
.currentContainer .currents {
  width: 100%;
  background-color: #DCDCDC;
  padding: 14px 20px;
  border-radius: 10px;
  color:#fff;
}
.currentContainer .currents table {
  width: 100%;
  text-align: center;

}
.currentContainer .currents table tr th {
  border: none;
}

.currentContainer .currents table tr:nth-child(even) {
  background-color: var(--light-grey);
}


.currentContainer .uyeDernek {
  padding:50px;
  padding-top: 0px;
}
.userSliderContainer {
  padding: 50px 0px;
}
.topButtonContainer {
  padding: 50px 0px;
  text-align: center;
}
.topButtonContainer a {
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  padding: 15px;
  transition: all 0.3s;

}
.topButtonContainer a:hover {
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.topButtonContainer a img {
  max-width: 24px;
}

footer {
  background-color: #F6F6F6;

}
footer .footerHead {
  background-color:#EFEFEF ;
  padding: 20px 0;
  color: #A9A9A9;
  font-weight: 600;
  margin-bottom: 30px;
}
footer .footerContent {
padding: 20px 0px;
}
footer .footerContent .footerLogo {
  max-width: 320px;
}
footer .newsForm {
  width: 100%;
  margin-top: 20px;

}
footer .newsForm span {
  font-size: 22px;
  color:#BBBBBB;
  font-weight: 600;

}
footer .newsForm form {
  display: flex;
}
footer .newsForm input {
  border:none;
  width: 75%;
  padding: 10px;
  margin:0;

}
footer .newsForm button {
  border:none;
  background-color: #fff;
  padding: 10px;
  margin:0;
}
footer .newsForm button:hover {
  background-color: #BBBBBB;
}
footer .footerRegister {
  text-align: center;
  padding: 40px 0 20px 0px;
  color:#BFBFBF;
}
footer .footerMenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer .footerMenu ul li a {
  color:#A0A0A0;
  font-size: 20px;
  font-weight: 300;
}
footer .social ul  {
  list-style-type: none;
  margin:0;
  padding: 0;
}
footer .social ul li a {
  color:#A0A0A0;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  justify-content: flex-start;
  margin-bottom: 5px;
}
footer .social ul li a img {
 width: 24px;
  margin-right: 5px;
}
footer .footerAdres {
  color: #A0A0A0;
  font-size: 16px;
}
footer .footerAdres p {
  margin-bottom:20px;
}
footer .footerAdres a {
  color:#A0A0A0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;

}
footer .footerAdres a img{
  width: 18px;
  margin-right: 5px;
}
/*****************
* Kurul page
*****************/
.kurulContainer {
  padding-top:var(--padding50);
  padding-bottom:var(--padding50);
  margin-bottom: var(--padding50);

}
.kurulContainer.kuruluclu .Col {
  justify-content: space-around;
}
.kurulContainer .w20 {
  flex-basis: 15%;
}
.kurulContainer .kurulItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.kurulContainer .kurulItem .kurulImg {
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.1);
}
.kurulContainer .kurulItem .kurulImg img {
  object-fit: cover;
  object-position: top;
}
.kurulContainer .kurulItem .kurulTitle {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.kurulContainer .kurulItem .kurulTitle {
  margin-top:20px
}
.kurulContainer .kurulItem .kurulTitle span {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 20px;

}
.kurulContainer .kurulItem .kurulTitle span:first-child {
  color:#000000;
  font-size: 20px;
  font-weight: 700;
}
.kurulContainer .kurulBaslik {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  color:var(--organgeColor);
  font-size: 20px;
}
/*******************
*haberler sayfası
********************/
.haberlerContainer .mainBlog .mainBlogSingle {
  max-width: 31%;
  height: 500px;

}
.haberlerContainer .mainBlog .mainBlogSingle a img{
  height: 500px;
}
.haberlerContainer .mainBlog .mainBlogSingle .mainBlogSingleText span {
}

.haberlerContainer .mainBlog .mainBlogSingle .mainBlogSingleText span {
  font-weight: 300;
}

/*******************
* Tek Haber Sayfası
*******************/
.tekHaberContainer .tekHaberTitle h1 {
  font-size: 30px;
}
.tekHaberContainer img {
  border-radius: 10px;
}
.backgreybefore {
  width: 100%;
  position: relative;
  margin-top:10%;
}
.sonhaberler {
  max-width:var(--max1440);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
.backgreybefore::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 350px;
  left:0%;
  top:-5%;
  background-color: #ebebeb;
}
.sonhaberler .titleHaber {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.sonhaberler .titleHaber h4 {
  font-size: 30px;
}
.sonhaberler .mainBlog {
  justify-content:space-between;
}
.sonhaberler .mainBlog .mainBlogSingle {
  max-width: calc(100% / 3 - 40px);
  border-radius: 20px;
  height: 500px;
  position: relative;
  margin-bottom: 4%;
}
/*******************
* Üyeler Sayfası
*******************/
.uyelerContainer ul {
  padding: 0;
}
.uyelerContainer .uyeItem {
  width: 80%;
  margin: 0 auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  padding:3% 5%;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.uyelerContainer .uyelerImages{
  flex-basis: 20%;
  padding: 20px;
}
.uyelerContainer .uyeItem .uyeinfo {
  flex-basis: 60%;
  padding: 20px 40px;
}
.uyelerContainer .uyeItem .uyeinfo span {
  width: 100%;
  display: block;
  color:var(--darkGrey);
  font-weight: 300;

}
.uyelerContainer .uyeItem .uyeinfo span:first-child {
  font-weight: 500;
}
.uyelerContainer .uyeItem .uyeinfo span:nth-child(2) {
  font-weight: 500;
  margin-bottom: 40px;
}

/*******************
* Yarışma Sayfası
*******************/
.yarismaContainer {
  max-width: var(--max1440);
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.yarismaContainer .yarismaItem {
  width:calc(100% / 3 - 40px );
  margin:20px;
  height: 400px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  display: flex;
  align-items: flex-end;

}
.yarismaContainer .yarismaItem a {
  background-color: var(--yellowRgba);
  padding:50px 20px;
  font-size: 15px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #000;

}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1440px) {
  :root {
    --font25: 18px;
    --max1440: 1280px;

  }

  header,.sliderContainer,.mpBlock .mpHeader,.Col {

    max-width: var(--max1440);

  }
  .mpBlock iframe {
    height: 300px;
  }
  .mainBlog .mainBlogSingle {
    height: 400px;
  }
  .mainBlog .mainBlogSingle img {
    height: 400px;
  }
  .mainBlog .mainBlogSingleText {
    height: 150px;
  }
  .adContainer .adSingle {

    height: 175px;
    margin-bottom: 48px;
  }
  .adContainer .adSingle img {
    height: 175px;
  }


  .adContainer .adSingle:nth-child(2) {
    margin-bottom: 11%;
  }
/*  tek haberler mobil */
  .sonhaberler .mainBlog .mainBlogSingle {
     height: auto;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  :root {
    --font25: 12px;
    --max1440: 1025px;

  }
  .mpBlock iframe {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
  }
  .sliderContainer .sliderItem .sliderText {

    font-size: 20px;

  }
  .adContainer .adSingle {
    height:auto;
  }

  .mainBlog .mainBlogSingle {

    height: 325px;

  }
  .mainBlog .mainBlogSingle img {

    height: 325px;

  }
  .commenity a {
    padding: 15px;
    margin-bottom: 26px;
  }
  .mpMagazineContainer {

    height: 300px;

  }
  footer .footer-logo img {
    max-width: 250px;
  }
  footer .newsForm span {
    font-size: 18px;
  }
  footer .footerMenu ul li a {
    font-size: 18px;
  }

main,header,footer .footerContent,footer .footerRegister,.sliderContainer { max-width: 1025px; margin:0 auto;}


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  :root {

    --font25 : 14px;
    --padding50 : 0px;
    --max1440: 750px;
  }
  /*col */
  .Col {
    padding: 0 10px;
  }
  .w70,.w50 ,.w40,.w30,.w20{
    flex-basis: 100%;

  }
  .mobilBlock {
    display: block;
    margin-bottom: 20px;
  }
  .mobilNone {
    display: none;
  }
  /*header mobil css*/
  header {
    padding: 0 10px;
  }
  header .topMenu {
    flex-wrap: wrap;
  }
  header .topMenu .leftSide, header .topMenu .rightSide {
    width: 100%;
    justify-content: center;
  }
  header .topMenu .leftSide {
    margin-bottom: 10px;
  }
  header .topMenu .leftSide a {
    width: 50%;
    font-size: 14px;
  }
  header .topMenu .leftSide a img {
    width: 14px;
  }
  header .mainMenu {

    flex-wrap: wrap;
    margin: 20px 0;
  }

  header .mainMenu .mainMenuLeft {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header .mainMenu .mainMenuLeft .logoContainer {
    text-align: center;
    max-width: 250px;

  }
  header .mainMenu .mainMenuRight .menuSecondrow {
    display: none;
  }
  header .mainMenu .mainMenuRight {
    flex-basis: 100%;
  }
  header .mainMenu .mainMenuRight .menuFirstrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .openForm {
    height: 100px !important;

  }
  .formContainer form {
    display: flex;
  }
  .formContainer form input[type=text] {
    width: 70%;
  }

  /*anasayfa */
  .sliderContainer {
    padding: 0 10px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .sliderContainer .sliderItem .sliderText {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  .mpBlock iframe {

    height: 200px;

  }

  .mpBlock .mpAboutText {
    margin-top: 20px;
  }
  .mainBlog .mainBlogSingle {
    max-width: 48%;
    border-radius: 20px;
    height: 500px;
    position: relative;
    margin-bottom: 4%;
  }
  .adContainer {

    flex-direction: row;
  }
  .adContainer .adSingle {
    margin-bottom: 4%;
    display: inline-block;
    padding-left:0;
    height: auto;
    width: 50%;
    padding: 5px;
  }
  .adContainer .adSingle:nth-child(2) {
    margin-bottom: inherit;
  }
  .mpMagazineContainer {
    height: 300px;
    margin-bottom: 20px;
  }
  .documentContainer .w30 {
    flex-basis: 48%;
  }
  .documentContainer .w30:last-child {
    flex-basis: 100%  ;
  }
  .currentContainer .visitors,.currentContainer .currents {
    margin-bottom: 20px;
  }
  .currentContainer .w30 {
    flex-basis: 30%;
  }

  /*anasayfa end */
  /*footer mobil css*/
  footer .footerHead {
    display: none;
  }
  footer .w40 {
    margin-bottom: 20px;
  }
  footer .w20 {
    flex-basis: 45%;
  }
  footer .w20:last-child {
    flex-basis: 100%;
    margin-top: 20px;
  }
/*  tek haber ipad */
  .sonhaberler .mainBlog .mainBlogSingle {
    max-width: calc(100% / 3 - 10px);

  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  :root {

    --font25 : 14px;
    --padding50 : 0px;
  }
  /*col */
  .Col {
    padding: 0 10px;
  }
  .w70,.w50 ,.w40,.w30,.w20{
    flex-basis: 100%;

  }
  .mobilBlock {
    display: block;
    margin-bottom: 20px;
  }
  .mobilNone {
    display: none;
  }
  /*header mobil css*/
  header {
    padding: 0 10px;
  }
  header .topMenu {
    flex-wrap: wrap;
  }
  header .topMenu .leftSide, header .topMenu .rightSide {
    width: 100%;
    justify-content: center;
  }
  header .topMenu .leftSide {
    margin-bottom: 10px;
    justify-content: space-between;

  }
  header .topMenu .leftSide a {
    width: 50%;
    font-size: 14px;
    justify-content: center;
  }
  header .topMenu .leftSide a img {
    width: 14px;
  }
  header .mainMenu {

    flex-wrap: wrap;
    margin: 20px 0;
  }

  header .mainMenu .mainMenuLeft {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header .mainMenu .mainMenuLeft .logoContainer {
    text-align: center;
    max-width: 250px;

  }
  header .mainMenu .mainMenuRight .menuSecondrow {
    display: none;
  }
  header .mainMenu .mainMenuRight {
    flex-basis: 100%;
  }

  .openForm {
    height: 100px !important;

  }
  .formContainer form {
    display: flex;
  }
  .formContainer form input[type=text] {
    width: 70%;
  }

  /*anasayfa */
  .sliderContainer {
    padding: 0 10px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .sliderContainer .sliderItem .sliderText {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  .mpBlock iframe {

    height: 200px;

  }

  .mpBlock .mpAboutText {
    margin-top: 20px;
  }
  .mainBlog .mainBlogSingle {
    max-width: 48%;
    border-radius: 20px;
    height: 500px;
    position: relative;
    margin-bottom: 4%;
  }
  .adContainer {

    flex-direction: row;
  }
  .adContainer .adSingle {
    margin-bottom: 4%;
    display: inline-block;
    padding-left:0;
    height: auto;
    width: 50%;
    padding: 5px;
  }
  .adContainer .adSingle:nth-child(2) {
    margin-bottom: inherit;
  }
  .mpMagazineContainer {
    height: 300px;
    margin-bottom: 20px;
  }
  .currentContainer .visitors,.currentContainer .currents {
    margin-bottom: 20px;
  }

  /*anasayfa end */
  /*footer mobil css*/
  footer .footerHead {
    display: none;
  }
  footer .w40 {
    margin-bottom: 20px;
    flex-basis: 40%;
  }
  footer .w20 {
    flex-basis: 20%;
  }
  footer .w20:last-child {
    flex-basis: 100%;
    margin-top: 20px;
  }


}
/*Kurul Sayfası*/
.kurulContainer .Col {
  justify-content: space-evenly;
}
.kurulContainer .Col .w20 {
  flex-basis: 18%;
}

.kurulContainer .kurulBaslik {
  margin: 40px 0px;
}
.kurulContainer .kurulItem {
  margin-bottom: 40px;
}
.buttonGroup {
  width: 100%;
}
.buttonGroup ul {
  width: 100%;
  display: flex;
  justify-content: center;

}
.buttonGroup ul li {
   flex-basis: content;
   list-style-type: none;
 }
.buttonGroup ul li a {
  padding: 10px 15px;
  list-style-type: none;
  border:3px solid #CCCCCC;
  margin-right: 10px  ;
  border-radius: 10px;
  color:#CCCCCC;

}
.buttonGroup ul li.active a , .buttonGroup ul li a:hover{
  background-color: #CCCCCC;
  color:#fff;
}
.uyeAlfabetik {
  width: 100%;
}
.uyeAlfabetik ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.uyeAlfabetik ul li {
  list-style-type: none;
}

.uyeAlfabetik ul li a {
  padding: 5px;
  margin:2px;
  border-radius: 5px;
  color: #cccccc;


}
.uyeAlfabetik ul li a.active {
  color: #000;
}

.fuarContainer {
  max-width:  var(--max1440);
  width: 100%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}
.fuarContainer .fuarDateMenu {
  width: 20%;
  margin-top:50px;
  display: flex;
  justify-content: center;

}
.fuarContainer .fuarDateMenu ul {



}
.fuarContainer .fuarDateMenu li {
  list-style-type: none;

}
.fuarContainer .fuarDateMenu li  a {
  color :#CCCCCC;
}
.fuarContainer .fuarDateMenu li  a.hover, .active {
  color:#000000 !important;
}

.fuarContainer .fuarTable {
  width: 80%;
}
/* Style the tab */
.fuarContainer .tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.fuarContainer .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color:#cccccc;
}

/* Change background color of buttons on hover */
.fuarContainer .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.fuarContainer .tab button.active {
  color:#000000;
}

/* Style the tab content */
.fuarContainer .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fuarContainer .tabcontent .fuarItem {
  margin: 20px;
  max-width: calc(100% / 3 - 40px);
  box-shadow:var(--boxShadow) ;
  border-radius: 10px;

}
.fuarContainer .tabcontent .fuarItem .fuarText {
  padding: 20px;
}
.fuarContainer .tabcontent .fuarItem .fuarTitle, .fuarContainer .tabcontent .fuarItem .fuarDate,.fuarContainer .tabcontent .fuarItem .fuarYer {
  font-size: 16px;
  color:#AFAFAF;
  font-weight: 700;


}
.fuarContainer .tabcontent .fuarItem .fuarTitle span ,.fuarContainer .tabcontent .fuarItem .fuarDate span {
  display: block;
  width: 100%;

}

.fuarContainer .tabcontent .fuarItem .fuarTitle span:last-child,.fuarContainer .tabcontent .fuarItem .fuarDate span:last-child {
  color:#000000;
  margin-bottom: 10px;
}
.fuarContainer .tabcontent .fuarItem .fuarLogo {
  width: 100%;
  display: block;
  margin:20px 0px
}
.fuarContainer .tabcontent .fuarItem .fuarLogo img{
  max-width: 150px;
  margin:0 auto;
  display: block;
}
.fuarContainer .tabcontent .fuarItem a {
  background-color: var(--organgeColor);
  padding: 30px 0px;
  color:#fff;
  text-align: center;
  display: block;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


/*
  Aktuel Bülten
*/
.aktuelBultenContainer {
  max-width: var(--max1440);
  margin:0 auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.aktuelBultenContainer .BultenItem {
  width: calc(100% / 4 - 40px);
  margin:20px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  height: 400px ;
  display: flex;
  align-items: flex-end;

}
.aktuelBultenContainer .BultenItem a {
  background-color: #8781BD;
  width: 100%;
  display: block;
  padding: 30px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.aktuelBultenContainer .BultenItem a span {
  width: 100%;
  display: block;
  color:#fff;
  font-size: 18px;
  font-weight: 700;
}
.aktuelBultenContainer .BultenItem a img {
  max-width: 30px;
  display: block;
  margin-left: auto;


}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  :root {

    --font25 : 14px;
    --padding50 : 0px;
  }
  /*col */
  .Col {
    padding: 0 10px;
  }
  .w70,.w50 ,.w40,.w30,.w20{
    flex-basis: 100%;

  }
  .mobilBlock {
    display: block;
    margin-bottom: 20px;
  }
  .mobilNone {
    display: none;
  }
  /*header mobil css*/
  header {
    padding: 0 10px;
  }
  header .topMenu {
    flex-wrap: wrap;
  }
  header .topMenu .leftSide, header .topMenu .rightSide {
    width: 100%;
    justify-content: center;
  }
  header .topMenu .leftSide {
    margin-bottom: 10px;
  }
  header .topMenu .leftSide a {
    width: 50%;
    font-size: 14px;
  }
  header .topMenu .leftSide a img {
    width: 14px;
  }
  header .mainMenu {

    flex-wrap: wrap;
    margin: 20px 0;
  }

  header .mainMenu .mainMenuLeft {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header .mainMenu .mainMenuLeft .logoContainer {
    text-align: center;
    max-width: 250px;

  }
  header .mainMenu .mainMenuRight .menuSecondrow {
    display: none;
  }
  header .mainMenu .mainMenuRight {
    flex-basis: 100%;
  }

  .openForm {
    height: 100px !important;

  }
  .formContainer form {
    display: flex;
  }
  .formContainer form input[type=text] {
    width: 70%;
  }

  /*anasayfa */
  .sliderContainer {
    padding: 0 10px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .sliderContainer .sliderItem .sliderText {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  .mpBlock iframe {

    height: 200px;

  }

  .mpBlock .mpAboutText {
    margin-top: 20px;
  }
  .mainBlog .mainBlogSingle {
    max-width: 100%;
    border-radius: 20px;
    height: 500px;
    position: relative;
    margin-bottom: 4%;
  }
  .adContainer {

    flex-direction: row;
  }
  .adContainer .adSingle {
    margin-bottom: 4%;
    display: inline-block;
    padding-left:0;
    height: auto;
    width: 50%;
    padding: 5px;
  }
  .adContainer .adSingle:nth-child(2) {
    margin-bottom: inherit;
  }
  .mpMagazineContainer {
    height: 300px;
    margin-bottom: 20px;
  }
  .currentContainer .visitors,.currentContainer .currents {
    margin-bottom: 20px;
  }

  /*anasayfa end */
  /*footer mobil css*/
  footer .footerHead {
    display: none;
  }
  footer .w40 {
    margin-bottom: 20px;
  }
  footer .w20 {
    flex-basis: 45%;
  }
  footer .w20:last-child {
    flex-basis: 100%;
    margin-top: 20px;
  }
  /*Kurul Sayfası*/
  .kurulContainer .Col {
    justify-content: center;
  }
  .kurulContainer .kurulItem {
    margin-bottom: 30px;
  }
  .kurulContainer .kurulBaslik {
    margin: 40px 0px;
  }
/*  yarışma html*/
  .yarismaContainer .yarismaItem {
    width: calc(100% / 2 - 40px );

  }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  :root {

    --font25 : 14px;
    --padding50 : 0px;
  }
  /*col */
  .Col {
    padding: 0 10px;
  }
  .w70,.w50 ,.w40,.w30,.w20{
    flex-basis: 100%;

  }
  .mobilBlock {
    display: block;
    margin-bottom: 20px;
  }
  .mobilNone {
    display: none;
  }
  /*header mobil css*/
  header {
    padding: 0 10px;
  }
  header .topMenu {
    flex-wrap: wrap;
  }
  header .topMenu .leftSide, header .topMenu .rightSide {
    width: 100%;
    justify-content: center;
  }
  header .topMenu .leftSide {
    margin-bottom: 10px;
  }
  header .topMenu .leftSide a {
    width: 50%;
    font-size: 14px;
  }
  header .topMenu .leftSide a img {
    width: 14px;
  }
  header .mainMenu {

    flex-wrap: wrap;
    margin: 20px 0;
  }

  header .mainMenu .mainMenuLeft {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header .mainMenu .mainMenuLeft .logoContainer {
    text-align: center;
    max-width: 250px;

  }
  header .mainMenu .mainMenuRight .menuSecondrow {
    display: none;
  }
  header .mainMenu .mainMenuRight {
    flex-basis: 100%;
  }

  .openForm {
    height: 100px !important;

  }
  .formContainer form {
    display: flex;
  }
  .formContainer form input[type=text] {
    width: 70%;
  }

  /*anasayfa */
  .sliderContainer {
    padding: 0 10px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .sliderContainer .sliderItem .sliderText {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  .mpBlock iframe {

    height: 200px;

  }

  .mpBlock .mpAboutText {
   margin-top: 20px;
  }
  .mainBlog .mainBlogSingle {
    max-width: 100%;
    border-radius: 20px;
    height: 500px;
    position: relative;
    margin-bottom: 4%;
  }
  .adContainer {

    flex-direction: row;
  }
  .adContainer .adSingle {
    margin-bottom: 4%;
     display: inline-block;
     padding-left:0;
     height: auto;
    width: 50%;
    padding: 5px;
  }
  .adContainer .adSingle:nth-child(2) {
    margin-bottom: inherit;
  }
  .mpMagazineContainer {
    height: 300px;
    margin-bottom: 20px;
  }
  .currentContainer .visitors,.currentContainer .currents {
   margin-bottom: 20px;
  }

  /*anasayfa end */
  /*footer mobil css*/
  footer .footerHead {
    display: none;
  }
  footer .w40 {
    margin-bottom: 20px;
  }
  footer .w20 {
    flex-basis: 45%;
  }
  footer .w20:last-child {
    flex-basis: 100%;
    margin-top: 20px;
  }
  /*Kurul Sayfası*/
  .kurulContainer .Col {
    justify-content: center;
  }
  .kurulContainer .kurulItem {
    margin-bottom: 30px;
  }
  .kurulContainer .kurulBaslik {
    margin: 40px 0px;
  }
  .haberlerContainer .mainBlog .mainBlogSingle {
    max-width:100%;
    height: 500px;

  }
  /*uyeler*/
  .uyelerContainer ul {
    padding: 0 10px;
  }
  .uyelerContainer .uyeItem {
    margin:0;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .uyelerContainer .uyeItem .uyeinfo {
    flex-basis: 100%;
    padding: 20px;
  }
  .uyelerContainer .uyeItem  .uyelerImages  {
    flex-basis: 100%;
    padding: 20px;
  }
  /*Aktuel bülten*/
  .aktuelBultenContainer .BultenItem {
    width: 100%;
  }
  /*Fuar */

  .fuarContainer .fuarTable {
    width: 100%;
  }
  .fuarContainer .tabcontent .fuarItem {
    max-width: 100%;
  }
/*  yarışma html mobil*/
  .yarismaContainer .yarismaItem {
    width: calc(100% / 1 - 20px );
    margin: 20px;
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    display: flex;
    align-items: flex-end;
  }
/*  üyeler html mobil*/

/*  Tek haberler html mobil*/
  .sonhaberler .mainBlog {
    justify-content: center;
  }
  .sonhaberler .mainBlog .mainBlogSingle {
    max-width: calc(100%  - 20px);

  }

}











  /* ==========================================================================
    Helper classes
    ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http:-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


